<p id="notice"><%= notice %></p>

<h1>Types</h1>

<table>
  <thead>
    <tr>
      <th>Typename</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @types.each do |type| %>
      <tr>
        <td><%= type.typename %></td>
        
        <td class="list_actions">
        <dl>
        <!-- <button><%= link_to 'Show', type %></button> -->
        <br/>
        <button><%= link_to 'Edit', edit_type_path(type) %></button>
        <br/>
        <button><%= link_to 'Destroy', type, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      </td>
      </dl>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type', new_type_path %>
