<p id="notice"><%= notice %></p>

<p>
  <strong>Sizeus:</strong>
  <%= @size.sizeus %>
</p>

<p>
  <strong>Sizevn:</strong>
  <%= @size.sizevn %>
</p>

<%= link_to 'Edit', edit_size_path(@size) %> |
<%= link_to 'Back', sizes_path %>
