
</p>
<h1>Products</h1>
<table>
  <%= form_tag products_path, method: :get do %>
    <%= text_field_tag "query", params[:query], placeholder: "Name" %>
      <%= submit_tag "Search!" %>
        <% end %>
          </a>
          </li>
          <% @products.each do |product| %>
            <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
              <td>
                <%= image_tag product.image.url(:medium), :size => "150x75"%>
              </td>
              <td class="list_description">
                <dl>
                  <dt>
                    <%= product.title %>
                  </dt>
                  <dd>
                    <%= truncate(strip_tags(product.description),
length: 80) %>
                  </dd>
                </dl>
              </td>
              <td class="list_actions">
                <%= link_to 'Show', product %>
                  <br/>
                  <%= link_to 'Edit', edit_product_path(product) %>
                    <br/>
                    <%= link_to 'Destroy', product, method: :delete,
data: { confirm: 'Are you sure?' } %>
              </td>
            </tr>
            <% end %>

</table>
<div class="ransack-pagination">
  <%= will_paginate @products %>
</div>
<br />
<%= link_to 'New product', new_product_path %>