
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<head>
	<title>Free Adidas Website Template | Single :: w3layouts</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
	<link href="css/form.css" rel="stylesheet" type="text/css" media="all" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function () {
			$(".dropdown img.flag").addClass("flagvisibility");

			$(".dropdown dt a").click(function () {
				$(".dropdown dd ul").toggle();
			});

			$(".dropdown dd ul li a").click(function () {
				var text = $(this).html();
				$(".dropdown dt a span").html(text);
				$(".dropdown dd ul").hide();
				$("#result").html("Selected value is: " + getSelectedValue("sample"));
			});

			function getSelectedValue(id) {
				return $("#" + id).find("dt a span.value").html();
			}

			$(document).bind('click', function (e) {
				var $clicked = $(e.target);
				if (!$clicked.parents().hasClass("dropdown"))
					$(".dropdown dd ul").hide();
			});


			$("#flagSwitcher").click(function () {
				$(".dropdown img.flag").toggleClass("flagvisibility");
			});
		});
	</script>
	<!-- start menu -->
	<link href="css/megamenu.css" rel="stylesheet" type="text/css" media="all" />
	<script type="text/javascript" src="js/megamenu.js"></script>
	<script>
		$(document).ready(function () {
			$(".megamenu").megamenu();
		});
	</script>
	<!-- end menu -->
	<script type="text/javascript" src="js/jquery.jscrollpane.min.js"></script>
	<script type="text/javascript" id="sourcecode">
		$(function () {
			$('.scroll-pane').jScrollPane();
		});
	</script>
	<!----details-product-slider--->
	<!-- Include the Etalage files -->
	<link rel="stylesheet" href="css/etalage.css">
	<script src="js/jquery.etalage.min.js"></script>
	<!-- Include the Etalage files -->
	<script>
		jQuery(document).ready(function ($) {

			$('#etalage').etalage({
				thumb_image_width: 300,
				thumb_image_height: 400,

				show_hint: true,
				click_callback: function (image_anchor, instance_id) {
					alert('Callback example:\nYou clicked on an image with the anchor: "' + image_anchor +
						'"\n(in Etalage instance: "' + instance_id + '")');
				}
			});
			// This is for the dropdown list example:
			$('.dropdownlist').change(function () {
				etalage_show($(this).find('option:selected').attr('class'));
			});

		});
	</script>
	<!----//details-product-slider--->
	<!-- top scrolling -->
	<script type="text/javascript" src="js/move-top.js"></script>
	<script type="text/javascript" src="js/easing.js"></script>
	<script type="text/javascript">
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1200);
			});
		});
	</script>
</head>

<body>


	<!-- start header menu -->

	<div class="v12">
		<div class="sort">
			<div class="sort-by">
			</div>
		</div>


		<div class="cont span_2_of_3">
			<div class="labout span_1_of_a1">
				<!-- start product_slider -->
				<ul id="etalage">
					<li>
						<a>
							<%= @product.image_url %>
								<%= image_tag @product.image.url(:medium), :size =>"475x475"%>
						</a>


					</li>

				</ul>

				<!-- end product_slider -->
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>

			<div class="cont1 span_2_of_a1">
				<h3 class="m_3">
					<%= @product.title %>
				</h3>
				<h4 class="m_9">
					<%= @product.type.typename %>
						</h>
						<br>
						<br>

						<ul class="options">
							<h4 class="m_9">Select a Size</h4>
							<%= form_for @product, html: { multipart: true } do |form| %>

								<div class="field">
									<%= form.collection_select :size_ids, Size.joins("INNER JOIN size_details on sizes.id = size_details.size_id INNER JOIN products on products.id = size_details.product_id WHERE products.id = #{params[:id]} "),:id,:sizeus, {:include_blank => 'Please choose size for buying'} %>
								</div>
								<%end%>
									<ul>


										<div class="btn_form">
											<div class="price_single">
												<%= number_to_currency(@product.price) %>
											</div>
											<%= button_to 'Add To Cart', line_items_path(product_id: @product), remote: true %>
										</div>

									</ul>
			</div>
			<div class="clear"></div>
			<hr>
			<h1 class="hv">Description</h1>
			<script type="text/javascript" src="js/jquery.flexisel.js"></script>
			<p class="m_desc">
				<%=raw @product.description %>
			</p>
		</div>






		<div id="disqus_thread"></div>
		<script>
			/**
			 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
			 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
			/*
			var disqus_config = function () {
			this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
			this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
			};
			*/
			(function () { // DON'T EDIT BELOW THIS LINE
				var d = document,
					s = d.createElement('script');
				s.src = 'https://localhost-3000-lwg8qvnro6.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
			})();
		</script>
		<noscript>Please enable JavaScript to view the
			<a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
		</noscript>

	</div>

	</div>

	</div>

	</div>

	</div>




</body>

</html>